[Test]
test_file = /Users/xingyi/Gate/abuseDetection/data/kaggle/test_with_solutions.csv
csv_text_field = 2
csv_label_field = 0
dictionary_load_path = /Users/xingyi/Gate/abuseDetection/data/kaggle/models/gensim.dict
model_load_path = /Users/xingyi/Gate/abuseDetection/data/kaggle/models/torch_cnn.model

[Call_Backs]
call_back_function_path = /Users/xingyi/Gate/abuseDetection/AbuseDetection/callbackFunctions/default
text_callback = yes
label_callback = yes



