[Train]
word_embedding_dim = 32
max_sentence_length = 50
output_dim = 2
num_epochs = 30
csv_text_field = 2
csv_label_field = 0
training_file = /Users/xingyi/Gate/abuseDetection/data/kaggle/train.csv
build_dictionary = /Users/xingyi/Gate/abuseDetection/data/kaggle/models/gensim.dict
model_save_path = /Users/xingyi/Gate/abuseDetection/data/kaggle/models/torch_cnn.model

[Validation]
validation_file = /Users/xingyi/Gate/abuseDetection/data/kaggle/test_with_solutions.csv 


[Call_Backs]
call_back_function_path = /Users/xingyi/Gate/abuseDetection/AbuseDetection/callbackFunctions/default
text_callback = yes
label_callback = yes






